#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  margin: 0 auto;
}

.decks li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: larger;
  width: 100%;
  height: 120px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}


.delete-button {
  align-items: center;
  width: 10px;
  height: 20px;
  font-size: 10px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  position: absolute;
  background-color: brown;
}

.delete-button:hover {
  transform: scale(1.1);
}
